body{
 background-color: rgb(19,18,18);
}
    h4{
        color: white;
    } 
p{
    color: white;
} 

.main{
  margin-left: 250px;
}
.cardwrapper .row .col .card{
    background-color: rgb(19,18,18);
    border: 0;
}
.main #anchorWrapper a{
    color: grey;
}
.main #anchorWrapper a:hover {
    color: rgba(241, 234, 234, 0.89);
    text-decoration: none;
}
.main .row .col{
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  
}
.slider:hover {
    opacity: 1;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  .slider {
    -webkit-appearance: none;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  } 
.wrapper {
    width: 100%;
    align-items: stretch;
    }
    #sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    background: black;
    color: #fff;
    transition: all 0.3s;
    position:fixed;
    /* z-index: -1; */
}
   
    #sidebar .sidebar-header {
    padding: 20px;
    
}
    #sidebar ul.components {
    padding: 20px 0;
}
    #sidebar ul p {
    color: #fff;
    padding: 10px;
}
    #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
    #sidebar ul li a:hover {
    color: rgba(241, 234, 234, 0.89);
    text-decoration: none;
}
    #sidebar ul li> a, a[aria-expanded="true"] {
    color:grey;   
}
.wrapper #sidebar .sideBarBottomBtn .bttn{
    border-radius: 25px;
    border: white 2px solid;
    width: 120px;
}
    ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    }
    
/* .content{
    padding-top:300px;
    height: 2000px;
    transition: margin-left .5s ;
} */